# Dependencies
node_modules/

# Build outputs
dist/
.next/
out/

# Logs
*.log
logs/

# Environment variables
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.swp

pnpm-lock.yaml